
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLI &#8212; Oasis Data Converter  documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../_static/graphviz.css" />
    <script id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script src="../../_static/jquery.js"></script>
    <script src="../../_static/underscore.js"></script>
    <script src="../../_static/doctools.js"></script>
    <script src="../../_static/language_data.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="API Reference" href="../../package/index.html" />
    <link rel="prev" title="Runners" href="../runners/index.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="cli">
<h1>CLI<a class="headerlink" href="#cli" title="Permalink to this headline">¶</a></h1>
<p>Command line usage:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">Usage</span><span class="p">:</span> <span class="n">converter</span> <span class="p">[</span><span class="n">OPTIONS</span><span class="p">]</span> <span class="n">COMMAND</span> <span class="p">[</span><span class="n">ARGS</span><span class="p">]</span><span class="o">...</span>

  <span class="n">Initialises</span> <span class="n">the</span> <span class="n">cli</span> <span class="n">grouping</span> <span class="k">with</span> <span class="n">default</span> <span class="n">options</span><span class="o">.</span>

<span class="n">Options</span><span class="p">:</span>
  <span class="o">-</span><span class="n">o</span><span class="p">,</span> <span class="o">--</span><span class="n">option</span> <span class="n">TEXT</span><span class="o">...</span>  <span class="n">Sets</span> <span class="n">a</span> <span class="n">configuration</span> <span class="n">option</span><span class="p">,</span> <span class="n">a</span> <span class="n">path</span> <span class="ow">and</span> <span class="n">value</span> <span class="n">are</span>
                        <span class="n">required</span> <span class="n">eg</span> <span class="o">-</span><span class="n">o</span> <span class="n">extractor</span><span class="o">.</span><span class="n">options</span><span class="o">.</span><span class="n">foo</span><span class="o">.</span><span class="n">bar</span> <span class="n">bash</span>

  <span class="o">-</span><span class="n">c</span><span class="p">,</span> <span class="o">--</span><span class="n">config</span> <span class="n">TEXT</span>     <span class="n">Path</span> <span class="n">to</span> <span class="n">the</span> <span class="n">configuration</span> <span class="n">file</span><span class="o">.</span>
  <span class="o">-</span><span class="n">v</span><span class="p">,</span> <span class="o">--</span><span class="n">verbose</span>         <span class="n">Specifies</span> <span class="n">the</span> <span class="n">verbosity</span> <span class="n">level</span><span class="p">,</span> <span class="k">if</span> <span class="n">used</span> <span class="n">multiple</span> <span class="n">times</span>
                        <span class="n">the</span> <span class="n">verbosity</span> <span class="ow">is</span> <span class="n">increased</span> <span class="n">further</span>

  <span class="o">--</span><span class="n">no</span><span class="o">-</span><span class="n">color</span>            <span class="n">Disables</span> <span class="n">colorised</span> <span class="n">output</span><span class="o">.</span>
  <span class="o">--</span><span class="n">help</span>                <span class="n">Show</span> <span class="n">this</span> <span class="n">message</span> <span class="ow">and</span> <span class="n">exit</span><span class="o">.</span>

<span class="n">Commands</span><span class="p">:</span>
  <span class="n">run</span>          <span class="n">Runs</span> <span class="n">the</span> <span class="n">data</span> <span class="n">conversion</span>
  <span class="n">show</span><span class="o">-</span><span class="n">config</span>  <span class="n">Prints</span> <span class="n">the</span> <span class="n">resolved</span> <span class="n">config</span> <span class="n">to</span> <span class="n">the</span> <span class="n">console</span>
</pre></div>
</div>
</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../../index.html">Oasis Data Converter</a></h1>








<h3>Navigation</h3>
<p class="caption"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../config.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../config.html#debugging">Debugging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../data-connections/index.html">Data Connections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../mappings/index.html">Mappings</a></li>
<li class="toctree-l1"><a class="reference internal" href="../runners/index.html">Runners</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">CLI</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../package/index.html">API Reference</a></li>
</ul>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="../runners/index.html" title="previous chapter">Runners</a></li>
      <li>Next: <a href="../../package/index.html" title="next chapter">API Reference</a></li>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>








        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2020, OasisLMF.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 3.1.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="../../_sources/components/cli/index.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>